@use '../../styles/settings';

.footer {
    display: flex;
    width: 100%;
    height: 209px;
    padding-top: 66px;
    padding-bottom: 29px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: settings.$black;

    @media (max-width: settings.$breakpoint-tablet) {
        gap: 0px;
    }

    &__logoFooter {
        height: 68px;
        margin-bottom: 50px;
    }

    &__p {
        display: flex;
        justify-content: space-between;
        color: #FFF;
        text-align: center;
        font-size: settings.$font-size-h3;
        font-style: normal;
        font-weight: normal;

        @media (max-width: settings.$breakpoint-tablet) {
            font-size: settings.$font-size-h6;
            margin-top: 10px;
            max-width: 100px;
        }
    }
}