@use '../../styles/settings';

.page404 {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // ✅ Pleine hauteur de l'écran
    text-align: center; // ✅ Centre le contenu
    justify-content: space-between;
  
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1; // ✅ Remplit l'espace disponible
      gap: 139px;
      margin-bottom: 139px;
      margin-top: 139px;

      @media (max-width: settings.$breakpoint-tablet) {
        gap: 113px;
        margin-bottom: 113px;
        margin-top: 113px;
      }
    }
  
    &__title {
      color: settings.$primary-color;
      text-align: center;
      line-height: 1;
      // font-family: Montserrat;
      font-size: 288px;
      font-style: normal;
      font-weight: settings.$font-weight-bold;
      //line-height: 142.6%
      // margin: 0;

      @media (max-width: settings.$breakpoint-tablet) {
        font-size: 96px;
      }
    }
  
    &__message {
        color: settings.$primary-color;
        font-size: settings.$font-size-h2;
        font-style: normal;
        font-weight: settings.$font-weight-regular;

        @media (max-width: settings.$breakpoint-tablet) {
            font-size: settings.$font-size-h4;
            max-width: 230px;
        }
    }
  
    &__link {
      //text-decoration: none;
      //font-size: 1.2rem;
      color: settings.$black;
      font-size: settings.$font-size-h4;
      font-style: normal;
      font-weight: settings.$font-weight-regular;
      line-height: 142.6%; /* 25.668px */
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
      transition: color 0.3s;
  
      &:hover {
        text-decoration: underline;
        color: #e04444; // ✅ Légère variation au survol
      }
    }
  }