@use '../../styles/settings';

.hero {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 223px;
    flex-shrink: 0;
    border-radius: 25px;
    margin-bottom: 43px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.5);

    @media (max-width: settings.$breakpoint-tablet) {
        margin-top: 27px;
        margin-bottom: 22px;
        height: 111px;
        width: 90%;
        border-radius: 10px;
    }
 
    &__h1 {
        font-size: settings.$font-size-h1;
        text-align: center;
        color: #FFF;
        font-size: settings.$font-size-h1;
        font-style: normal;
        font-weight: settings.$font-weight-bold;
        line-height: 142.6%;
        text-shadow: -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;

        @media (max-width: settings.$breakpoint-tablet) {
            font-size: settings.$font-size-h3;
            text-align: left;
            max-width: 320px;
            padding : 31px 70px 32px 16px
        }
    }
}
  
  