@use '../../styles/settings';

.aboutPage {

    &__hero {
        box-shadow: none;

        @media (max-width: settings.$breakpoint-tablet) {
            margin-top: 19px;
            margin-bottom: 19px; 
        }
    }

    &__collapseContainer {
        display: flex ;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        margin-bottom: 38px;

        @media (max-width: settings.$breakpoint-tablet) {
            gap: 20px;
            margin-top: 0px;
            margin-bottom: 20px; 
        }
    }

    &__specialCollapse {
        border-radius: 5px;
        height: fit-content;
    }

    &__aboutCollapseContent {
        height: fit-content;
    }

}