@import '../styles/settings';
// Conteneur des collapses
.collapse {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%; // Les collapses prennent toute la largeur du parent
    color: black;
  
    &__button {
      width: 100%; // Prend toute la largeur du conteneur
      background-color: #FF6060;
      border: none;
      color: #fff;
      padding: 10px;
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s;
      border-radius: 10px;
   
      &:focus, &:focus-visible {
        outline: none;
      } 

      @media (max-width: $breakpoint-tablet) {
        border-radius: 5px;
      }
    }  
  
    // Animation Slide Down
    &__content {
      background: var(--Gray, rgba(246, 246, 246, 0.45));
      border-radius: 5px;
      overflow: hidden;
      transition: max-height 0.6s ease-in-out;
      max-height: 0; // Contenu initialement caché
      height: 200px;
    
      // Quand le contenu est visible
      &--open {
        // max-height: 1000px;
        max-height: fit-content;
      }
    }

    &__text {
        padding: 0 20px;
        transform: translateY(-100%); // Le contenu est légèrement décalé vers le haut
        transition: max-height 0.6s ease-out, padding 0.6s ease-out;

        .collapse__content--open & {
            transform: translateY(0);
            padding: 10px 20px;
            text-align: left;
        }
    }

    &__title {
        font-size: 18px; // Taille personnalisée
        color: white; // Couleur personnalisée
        // font-size: 24px;
        font-style: normal;
        font-weight: 700;

        @media (max-width: $breakpoint-tablet) {
            font-size: 13px;
        }
    }

    &__arrow {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0px;
        color: white;
        font-size: 24px; // Ajuste la taille de l'icône
        transition: transform 0.5s ease; // ✅ Animation fluide de la rotation
        &--open {
            transform: rotate(180deg); // ✅ Rotation complète vers le bas
        }
        &--closed {
            transform: rotate(0deg); // ✅ Position initiale
        }

        @media (max-width: $breakpoint-tablet) {
            font-size: 14px;
        }
    }
  
    ul {
      list-style-type: none;
      text-align: left;
    }
}