@import '../styles/settings';

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/backgroundHero.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   // color: white; /* Couleur du texte */
    width: 90%;
    height: 223px;
    flex-shrink: 0;
    border-radius: 25px;
    margin-bottom: 43px;
    margin-left: auto;
    margin-right: auto;
 
    &__h1 {
        font-size: 48px; /* Taille du texte */
        text-align: center;
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 142.6%; /* 68.448px */
        text-shadow: -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;
    }
}
  
  