.locations {
    display: flex;
    flex-wrap: wrap;
    gap: 60px; 
    list-style: none; 
    padding: 56px 20px 43px;
    background-color: #F6F6F6;
    border-radius: 25px;
    justify-content: center; 
  }