@use '../styles/settings';

.tagsContainer {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: flex-start;  // Alignement naturel à gauche

    @media (max-width: settings.$breakpoint-tablet) {
        margin-bottom: 10px;
    }
  }
  
  .tag {
    // align-items: center;
    // justify-content: center;
    // display: flex;
    background-color: settings.$primary-color;
    color: settings.$secondary-color;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: settings.$font-size-h5;
    // width: 115px;
    max-width: 200px;
    word-break: break-word; // Coupe les mots longs si nécessaire
    //height: 25px;

    @media (max-width: settings.$breakpoint-tablet) {
        font-size: settings.$font-size-body;
    }
  }