@use '../../styles/settings';

.starContainer {
    display: flex;
    gap: 10px;
    font-size: settings.$font-size-h3;    // Ajuste la taille des étoiles

    @media (max-width: settings.$breakpoint-tablet) {
        display:flex;
        gap: 5px;
        font-size: settings.$font-size-h6;
        position: relative;
        bottom: 5px;
      }
  }